#logo{
    width: 5%;
    border-radius: 10%;
    max-height: 10%;
}
.services .icon-box {
background-color: #E7DCF2;
}
h6{
    font-size: 20%;
}
.w3-center {
    text-align: center;
}

.w3-bar {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
}

.w3-bar a {
    background-color: #f2f2f2;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.w3-bar a:hover {
    background-color: #ddd;
}

.w3-bar a.active {
    background-color: #DDEAF3;
    color: white;
    border: 1px solid #0477BF;
}

.w3-bar a.disabled {
    pointer-events: none;
    background-color: #ddd;
    color: white;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }